@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 1000px;
    justify-content: center;
    align-items: center;
    background: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    z-index: 2;
    height: 80px;
}

header.sticky {
    height: 80px;
}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    opacity: 0.5;
}

header .logo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;

    font-size: 2em;
    left: 100px;
    transform: translate(0%, -50%);
}


nav {
    position: relative;
    display: flex;
    z-index: 1;
}

nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    margin-left: 100px;
    opacity: 1;
}


nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff275f;
}


/*now, make it responsive */

@media (max-width: 991px) {
    section,
    header {
        padding: 40px;
    }
    section h2 {
        font-size: 2em;
    }
    header.sticky .logo {
        left: 40px;
    }
    header.sticky .banner {
        opacity: 0;
    }
    nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}


/*All related to cards*/

.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 20vh;
}


.container .card {
    position: relative;
    max-width: 300px;
    height: 380px;
    background: #151515;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 380px;
}

.container .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    background: #e62429;
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    border-bottom-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: 35px;
    transition-delay: 0.3s;
}

.container .card .content p {
    font-size: 1.3em;
}

/*================ Footer ================*/
footer {
    background: #fff;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-bottom {
    background: #636e72;
    width: 100w;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*Boton*/

form input[type="submit"] {
    background: #b2bec3;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #0984e3;
}